.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  padding: 20px; /* Adicione um padding para o conteúdo principal */
  transition: margin-left 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor de sobreposição escura */
  z-index: 99; /* Abaixo do menu, mas acima do conteúdo */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.menu-toggle-button {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 101; /* Acima do overlay e do menu */
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: #000; /* Cor do ícone */
  font-size: 1.5rem;
}

.menu-toggle-button.hidden {
  display: none;
}
