/* ----------- Layout geral ----------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    background: #ffffff;
}

/* ----------- Coluna esquerda (imagem do carro) ----------- */
#imagemAoLado {
  width: 50%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-image: url('./imagems/imagemVeiculoLogin.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* ou cover */
}

#imagemAoLado img {
    width: 80%;
    opacity: 0.65;
    
}


/* ----------- Coluna direita ----------- */
.auth-conteiner {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* ----------- Logo Ford ----------- */
.auth-conteiner::before {
    content: "";
    background-image: url('./imagems/logoFordLogin.png');
    background-size: 160px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
}

/* ----------- Título ----------- */
.auth-conteiner h2 {
    font-size: 24px;
    color: #0b8736;
    margin-bottom: 20px;
}

/* ----------- Formulário ----------- */
form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Labels */
label {
    font-size: 14px;
    color: #555;
    margin-bottom: -5px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #d3d3d3;
    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: #0b8736;
}

/* Botão principal */
button[type="submit"] {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    background: #b3b3b3;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: #9c9c9c;
}



/* ----------- Texto e botão inferior (criar conta/login) ----------- */
.auth-conteiner p {
    margin-top: 15px;
    font-size: 14px;
    color: #444;
}

.auth-conteiner p button {
    background: none;
    border: none;
    color: #0b8736;
    cursor: pointer;
    font-weight: bold;
}

.auth-conteiner p button:hover {
    text-decoration: underline;
}
